# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
UserInterfaceState.xcuserstate
MailClient/MailClient.xcodeproj/project.xcworkspace/xcshareddata/MailClient.xccheckout
MailClient/MailClient.xcodeproj/xcuserdata/ivansevostianov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
